<div class="row">
  <div class="large-12 columns">
    <h1 class="title page-title">Change your Password</h1>
    <p class="edit-scrn-copy1">Type in your new password. We’ll send you an email to confirm the change.</p>
  </div>

  <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :class => "custom", :method => :put }) do |f| %>
    <div class="large-6 columns">
      <section>
      <%= devise_error_messages! %>
      <%= f.hidden_field :reset_password_token %>
      <div>
        <%= f.password_field :password, :placeholder => "Password", :autofocus => true %>
      </div>
      <div>
        <%= f.password_field :password_confirmation, :placeholder => "Confirm Password" %></div>
      </div>
      </section>
    </div>

    <div class="large-12 columns">
      <div class="row edit-scrn-nav">
        <div class="column l-inline">
          <a class="button size-m secondary" href="<%= new_session_path(resource) %>">Whoops! No thanks.</a>
          <%= f.submit "Change Password", :class => "button size-m" %>
        </div>
      </div>
    </div>
  <% end %>
</div>

