<%= render :partial => "admin/nav" %>

PreLaunchSubscribers (<%= PreLaunchSubscriber.count %>): <%= link_to "Download csv", admin_pre_launch_subscribers_path %><br />
<br />
Users (<%= @users.count %>):
<br /><br />
<div>
  <ul>
    <% @users.each do |user| %>
      <li>
      <%= link_to admin_user_path(user) do %>
        <%= user.email %> (id: <%= user.id %>)
      <% end %>
      </li>
    <% end %>
  </ul>
</div>

